/**********
Style Sheet for CNIT 132
Created by: Thuong Ho
Email: tho36@mail.ccsf.edu
**********/
body
{
	width: 700px;
	margin: 10px;
	background-color: #404650;
}
/* HEADER */
header
{
	height: 125px;
	margin-bottom: 10px;
	clear: both;
}
header #banner
{
	width: 700px;
	height: 125px;
	float: left;
	background-image: url('saga_banner.png');
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center; 
	box-shadow: 0px 0px 5px #000000;
	border-radius: 10px;
}
body nav li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}
body figure
{
	margin: 0px;
	padding: 0px;
	margin-right: 10px;
	float: left;
}
body figure img
{
	width: 125px;
	height: 125px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #000000;
}
div#main
{
	width: 700px;
	height: 200px;
	background-color: #ffffff;
}
footer
{
	height: 125px;
	margin-bottom: 10px;
	margin-top: 20px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}